<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "music_platform/bootstrap.min.css" %}">
    <script defer src="{% static "music_platform/script.js" %}"></script>
</head>
<style>
    body {
      background-color: #212529;
    }
    .vertical-center {
      margin:auto;
      transform: translateY(80%);
    }

</style>
  
<body>
  
{% if authenticated %}
<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/logout/"><button type="button" class="btn btn-outline-danger btn-sm">Logout</button></a>
    </li>
  </ul>
</nav>

  {% for messg in messages %}
  {% if "success" in messg.tags %}
    <p style="color:lightgreen;">{{messg}}</p>
  {% else %}
    <p style="color:red;">{{messg}}</p>
  {% endif %}
  {% endfor %}
      <h3 style="color:white; text-align: center;">Music Portal</h3> <br>
      <div>
      <h6 style="color:white;">Information for {{user.first_name}} {{user.last_name}}</h6>
      </div>
      <br>
      <h7 style="color:white;">Your Library</h7> <br>
      <div class="table-responsive">
      <table class="table table-dark table-hover">
        <tr>
            <th>Music Name</th>
            <th>Artist</th>
            <th>image</th>
            <th style="text-align: center;">Play, Pause or Download</th>
        </tr>
      {% for dat in data %}
        <tr>
            <td>{{dat.music_name}}</td>
            <td>{{dat.artist_name}}</td>
            <td><img src="{{dat.image}}" alt="" style="width:auto;height:50px;"></td>
            <td style="display: flex; justify-content: center; align-items: center;">
              <div onclick="handle_user_click({{dat.artist_id}},{{user.id}},'{{dat.id}}')" style="position:absolute; z-index:9999; width:300px; height:30px;"></div>  
              <audio controls
                src="{{dat.url}}" id="{{dat.id}}">
                </audio>
            </td>  
        </tr>
      {% endfor %}
      </table>
    </div>
    {% else %}
    <h7 style="color: white;">Your are not logged in to view this page, Please log in</h7> <br>
    <div ALIGN='center' class="vertical-center">
    <a href="/login/"><button class="btn btn-primary mb-3">Login</button></a>
     <br>
    <a href="/registration/"><button class="btn btn-primary mb-3">Registration</button></a> 
    <br>
    </div>
    {% endif %}
</body>
</html>